<!doctype html>
<html lang="en">

<head>

    <title>My Blog Site</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i|Roboto+Slab:300,400"
        rel="stylesheet">

    {{!-- styling adapted from http://www.csszengarden.com/214/ --}}
    <link href="./myStyles.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-9 col-sm-12">
                {{{body}}}
            </div>
        </div>

</body>

</html>