{{#if loggedOut}}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    You have been logged out successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if newArticleCreated}}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    Your new post has been successfully created.
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if articles}}
{{#each articles}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="blog-{{articleId}}">{{title}}</h3>
                <p><em>Posted by <strong>{{author}}</strong> on {{timestamp}}</em></p>
                <p class="card-text">{{content}}</p>
                <form class="form-inline" action="/add" method="POST">
                    <div class="form-group">
                    <button class="btn mx-1 btn-light" type="submit">Comment</button>
                    <button class="btn mx-1 btn-light" type="submit">Edit</button>
                    <button class="btn mx-1 btn-light" type="submit"><em>Delete</em></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{else}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title">No Blog Posts yet!</h3>
            </div>
        </div>
    </div>
</div>
{{/if}}

